@charset "UTF-8"

@import '_variables/*'
@import '_mixins/*'
@import '_partials/*'

html,
body
	width: 100%
	height: 100%
	padding: 0
	margin: 0

html
	font-size: $size-root

body
	background-color: $color-background
	color: $color-font
	font-size: $size-font-normal
	letter-spacing: 0.05rem

a
	color: $color-main

.container
	width: 100%

.header
	width: 100%
	background-color: $color-main
	&__insideContainer
		width: $size-container
		position: relative
		margin: 0 auto
		padding: 0.75rem 0

.rootSiteLink
	display: flex
	width: 100%
	align-items center
	justify-content space-between
	&__toolLinks
		flex: 1
		padding-right: 6rem
		text-align right

.siteLogo
	display: block
	position: relative
	padding-left: 4rem
	color: $color-background
	font-size: $size-font-primary
	font-weight: bold
	text-decoration: none
	text-shadow 1px 1px 3px $color-shadow
	hoverOpacityAnimation()
	&__icon
		display: block
		position: absolute
		top: (($size-font-primary - 4rem) / 2)
		left: 0
		font-size: 4rem

.rootSearch
	display: inline-block
	width: 5rem
	color: $color-background
	font-size: $size-font-small
	text-decoration: none
	text-align: center
	text-shadow 1px 1px 3px $color-shadow
	hoverOpacityAnimation()
	&__icon
		display: block
		margin-bottom: 3px
		font-size: $size-font-primary

.help
	display: inline-block
	position: relative
	&__button
		@extend .rootSearch
	&__content
		width: 32rem
		position: absolute
		top: 6rem
		right: 0
		z-index: 1
		padding: 1.5rem
		border-radius: 3px
		background-color: #fff
		box-shadow: 1px 1px 3px $color-shadow
		&::after
			content ""
			display: block
			width: 0
			height: 0
			position: absolute
			top: -2.5rem
			right: 1.5rem
			border: solid 1rem transparent
			border-bottom solid 1.5rem #fff
		&__text
			margin-bottom: (1.5rem - .25rem)
			font-size: $size-font-small
			text-align: left
			line-height: 1.4
			> em
				font-weight: bold
				font-style: normal
		&__reset
		&__hide
			height: 1.2rem
			font-size: $size-font-small
			&__link
				text-decoration: none
		&__reset
			text-align: left
			&__link
				color: $color-sub
		&__hide
			margin-top: -($size-font-small)
			&__link
				color: $color-disable

.main
	&__insideContainer
		width: $size-container
		position: relative
		margin: 0 auto
		padding-top: 3rem
