// overwrite calendar styles
.main
	.vdp-datepicker__calendar
		border-radius 3px
		border-color $color-border
		.cell:not(.blank):not(.disabled).day:hover
			border-color $color-main
		.cell
			border-radius 50%
			&.today
				border solid 1px $color-sub
			&.selected
				border-color $color-main
				background-color: $color-main
				color: #fff
				font-weight: bold
				&:hover
					background-color: $color-main
			&.day-header
				font-weight: bold
				&:nth-of-type(1)
					color: $color-sub
				&:nth-of-type(7)
					color: $color-main
